@model IEnumerable<WeAreNotGoodFoodVerCore2.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h2>Все блюда</h2>

<p>
    <h4 style="color: darkslategrey"> <a asp-action="Create">Добавить блюдо</a></h4>
</p>
<table class="table table-bordered">
    <thead>
        <tr style="width: auto">
            <th style="width: 10%; color: darkgray">Название</th>
            <th style="width: 60%; color: darkgray">Вид</th>
            <th style="width: 20%; color: darkgray">Цена</th>
            <th style="width: 5%; color: darkgray">Описание</th>
            <th style="width: 5%; color: darkgray">Название ресторана</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        @Html.Partial("_PartialViewDish", item)
}
    </tbody>
</table>
